/* For All Pages */

body {
    background-image: url("milky-way.jpg");
}

#title {
    text-transform: capitalize;
    margin: auto;
    font-size: 3em;
	text-align: center;	
    -webkit-text-fill-color: white;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}

/* For Dashboard */

#buttonDiv .center button {
    display: inline-block;
    margin: auto;
}

#mainWrapper {
    display: block;
    margin: 20px auto;
    width: 990px;
    border: 10px outset #26004d;
    border-radius: 20px;
    padding: 10px;
    background-color: rgba(230,230,230,0.5);
}
#contentBox {
    color: black;
    height: 400px;
    width: 900px;
    margin: 20px auto;
    padding: 10px;
    border: 2px solid white;
    border-radius: 20px;
    background-color: rgba(230,230,230,0.7);
    text-align: center;
}
#buttonDiv {
    display: flex;
    align-content: center;
    width: 900px;
/*    border: 2px solid white;*/
}
#buttonDiv button {
    display: inline-block;
    margin: auto;
    height: 4em;
    width: 8em;
    border-radius: 8px;
    background-color: darkcyan;
    margin-right: 30px;
}
#lastButton {
    margin-right: 50px;
}

/* User Selection Page */

#userDiv {
    display: flex;
    height: auto;
    margin: 50px 20px 0 20px;
    border: 2px solid white;
}
.userButton {
    height: 12em;
    border-radius: 2em;
    background-color: darkcyan;
    margin: 2em;
    flex-grow: 1;
}

/* Login Page */

#loginWidget {
    width: 400px;
    margin: 50px auto;
    text-align: center;
}
#loginWidget > h1 {
    margin: 0;
    padding: 2px;
}
#loginWidget form {
    background-color: #EEE;
    border: 1px solid #DDD;
    padding: 0.5em 0;
    border-radius: 0 0 10px 10px;
}
#loginWidget form label {
    width: 95px;
    text-align: right;
    display: inline-block;
}
#loginWidget div.stack {
    margin: 1em 0;
}
div.ui-state-error {
    padding: 4px 0;
}
div.pageWidget {
    width: 600px;
    margin: 50px auto;
    text-align: center;
}
